<div class="jumbotron hidden-xs">
	<div class="container">
		<!-- LOGO AND SOCIAL LINKS -->
		<div class="row">
			<div class="col-md-1 col-md-offset-2">
				<div class="center">
					<div class="spacer30"></div>
					<%= image_tag("social/facebook.png", height: "70px") %>
				</div>
			</div>

			<div class="col-md-1">
				<div class="center">
					<div class="spacer30"></div>
					<%= image_tag("social/twitter.png", height: "70px") %>
				</div>
			</div>

			<div class="col-md-4">
				<div class="center">
					<div class="center">
						<%= image_tag("logo/logo-sansbg2.png", height: "125px") %>
					</div>
				</div>
			</div>

			<div class="col-md-1">
				<div class="center">
					<div class="spacer30"></div>
					<%= image_tag("social/github.png", height: "70px") %>
				</div>
			</div>

			<div class="col-md-1">
				<div class="center">
					<div class="spacer30"></div>
					<%= image_tag("social/email.png", height: "70px") %>
				</div>
			</div>
		</div>

		<div class="spacer10"></div>

		<!-- FOR COPYRIGHT AND OTHER -->
		<div class="row">
			<div class="footer_text">
				<div class="center">
					Copyright McMaster Computer Science Society 2014<br>McMaster University | 1280 Main Street West | Hamilton, Ontario L8S4L8
				</div>
			</div>
		</div>
	</div>
</div>